.domain-container{
  margin-right: 2%;
  float: left;
}

.domain-container.drill-down-open {
  width: 50%;
}

.domain-container.drill-down-closed {
  width: 100%;
}

.api-button button {
  width: 100%;
}

.drill-down{
  width: 45%;
  float: left;
}

ul {
  list-style-type: none;
}

ul.in-table-list {
  margin: 0;
  padding: 0
}

.close-drill-down {
  float: right;
}

.material-icons.close-drill-down{
  color: red;
}